@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

 .orderForm > h1 {
    color: #56392F;
    text-align: center;
    padding: rem(10) 0;
}
.wrapper {
    display: flex;
    justify-content: space-around;
}
.orderForm {
    width: 50%;
    padding-right: rem(50);
    button {
        background: #cf3128;
        border-radius: rem(10);
        font-size: rem(16);
        color: #FDF3E5;
        width: rem(200);
        height: rem(52);
        margin: rem(17) 0;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
            background: #F8897E;
            color: white;
        }
    }
}
.order {
    width: 50%;
    padding-left: rem(50);
    &__price {
        font-size: rem(40);
        line-height: rem(52);
        color: #56392F;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-top: rem(30);
        border-top: 0;
        border-top: 1px solid #EB3E37;
        margin-bottom: rem(15);
        padding-bottom: rem(20);
        span {
            font-weight: bold;
        }
    }
}

.toggleBlock {
    display: flex;
    align-items: center;
    p {
        color: #56392F;;
        font-size: rem(16);
    }
}

.customToggle {
    width: rem(60);
    height: rem(30);
    background-color: #ccc;
    border-radius: rem(15);
    display: flex;
    align-items: center;
    padding: 2px 2px 2px rem(6);
    cursor: pointer;
    margin-right: rem(10);

    .toggleSlider {
      width: rem(26);
      height: rem(26);
      border-radius: 50%;
      background-color: white;
      transition: transform 0.3s ease;
    }

    &.active {
      background-color: #cf3128;

      .toggleSlider {
        transform: translateX(rem(30));
      }
    }
  }