@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.orderForm > h1 {
  color: #56392f;
  text-align: center;
  padding: rem(10) 0;
}

.wrapper {
  display: flex;
  justify-content: space-around;

  @include mq(md) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.orderForm {
  width: 50%;
  padding-right: rem(50);

  @include mq(md) {
    width: 100%;
    margin-bottom: rem(30);
    padding-right: 0;
  }

  button {
    background: #cf3128;
    border-radius: rem(10);
    font-size: rem(16);
    color: #fdf3e5;
    width: rem(200);
    height: rem(52);
    margin: rem(17) 0;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      background: #f8897e;
      color: white;
    }
  }
}
.order {
  width: 50%;
  padding-left: rem(50);

  @include mq(md) {
    width: 100%;
    padding-left: 0;
  }

  h1 {
    @include mq(sm) {
      text-align: center;
    }
  }

  &__price {
    font-size: rem(40);
    line-height: rem(52);
    color: #56392f;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: rem(30);
    border-top: 0;
    border-top: 1px solid #eb3e37;
    margin-bottom: rem(15);
    padding-bottom: rem(20);
    span {
      font-weight: bold;
    }
  }
}

.toggleBlock {
  display: flex;
  align-items: center;
  margin-bottom: rem(15);
  p {
    color: #56392f;
    font-size: rem(16);
  }
}

.customToggle {
  width: rem(60);
  height: rem(30);
  background-color: #ccc;
  border-radius: rem(15);
  cursor: pointer;
  position: relative;
  margin-right: rem(10);

  .toggleSlider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: rem(26);
    height: rem(26);
    background: #fff;
    border-radius: rem(26);
    transition: 0.3s;
  }

  &.active {
    background-color: #cf3128;

    .toggleSlider {
      left: calc(100% - 2px);
      transform: translateX(-100%);
    }
  }
}
