@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.corporativeClients {
    color: #56392F;
    font-family: 'Circe';

    &_title {
        font-family: 'Circe';
        font-weight: 700;
        font-size: rem(44);
        line-height: rem(52);
        text-align: center;
        margin-bottom: rem(30);
    }

    &_description {
        font-size: rem(20);

        p {
            margin-bottom: rem(15);
        }

        div {
            & > p {
                & > span {
                    font-family: 'Circe';
                    font-weight: 700;
                    font-size: rem(20);
                }
                &::before {
                    content: '';
                    display: inline-block;
                    width: rem(14);
                    height: rem(14);
                    border-radius: rem(4);
                    margin-right: rem(10);
                    background-color: rgb(50, 206, 50);
                }
            }
        }
    }
    div { // заглушка
        &:last-child {
            margin-bottom: rem(50);
        }
    }
}