@import '../../../styles/variables';
@import '../../../styles/functions';
@import '../../../styles/mixins';

// .selectContainer {
//     display: flex;
//     flex-direction: column;
//     label {
//         font-family: 'Circe';
//         font-weight: 700;
//         font-size: rem(18);
//         line-height: rem(18);
//         color: #56392F;
//         margin-bottom: rem(7);
//         &:after {
//             font-size: 0.9em;
//             margin-left: 0.2em;
//             line-height: 0.7em;
//             content: '*';
//             color: red;
//         }
//     }
//     select {
//         border: 1px solid #56392F;
//         border-radius: rem(10);
//         padding: 0 rem(10);
//         height: rem(50);
//         font-size: rem(14);
//         color: #56392F;
//         // background-color: transparent;
//     }
    
// }
.wrapper > label {
    font-family: 'Circe';
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(18);
    color: #56392F;
    &:after {
        font-size: 0.9em;
        margin-left: 0.2em;
        line-height: 0.7em;
        content: '*';
        color: red;
    }
}
.select {
    position: relative;
    display: block;
    border: 1px solid #56392F;
    // box-shadow: 0 0 rem(4) rgb(0 0 0 / 20%);
    border-radius: rem(10);
    padding: rem(14) rem(15);
    font-size: rem(14);
    line-height: rem(18);
    margin-bottom: rem(20);
    color: rgba(66, 67, 72, 0.8);
    // width: 100%;
    // height: rem(20);
    margin-top: rem(7);
    &__head {
        // box-shadow: 0 0 rem(4) rgb(0 0 0 / 20%);
        // border-radius: rem(10);
        // padding: rem(14) rem(15);
        // font-size: rem(14);
        // line-height: rem(18);
        // color: rgba(66, 67, 72, 0.8);
        color: #56392F;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.select__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    /* box-shadow: 0 0 rem(4) rgb(0 0 0 / 20%); */
    /* border-radius: rem(10); */
    border-radius: 0 0 rem(10) rem(10);
    margin-top: rem(5);
    max-height: rem(205);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    font-size: rem(14);
    color: #424348;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
    box-shadow: rem(4) rem(4) rem(6) -1px rgb(0 0 0 / 20%), -rem(4) rem(4) rem(6) -1px rgb(0 0 0 / 20%);
}
.select__list_open {
    opacity: 1;
    transition: all .3s ease-in-out;
    transform: translateY(-rem(10));
    z-index: 1;
}
.select__list_close {
    opacity: 0;
    transition: all .2s ease-in-out;
    transform: translateY(0);
    z-index: -1;
}

.select__list::-webkit-scrollbar {
    width: rem(7);
    background-color: #F8F9FA;
    padding: rem(5);
}

.select__list::-webkit-scrollbar-thumb {
    border-radius: rem(10);
    background-color: #D9D9D9;
}

.select__list .select__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: rem(10) rem(15);
    cursor: pointer;
    list-style-type: none;
    transition: 0.3s;
}

.select__list .select__item:hover {
    background-color: rgba(224, 229, 231, 0.5);
}

.select__head_arrow_up svg {
    transform: rotate(0);
    transition: transform .3s ease-in-out;
}

.select__head_arrow_down svg {
    transform: rotate(-180deg);
    transition: transform .3s ease-in-out;
}