{
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "semi": true,
  "printWidth": 150,
  "endOfLine": "auto"
}