@import '../../../styles/variables';
@import '../../../styles/functions';
@import '../../../styles/mixins';

.category {
  padding-right: rem(20);
}

.wrapper {
  display: flex;
  // min-height: 100vh;
  margin-bottom: rem(60);
  // костыль, что бы спрятать меню на  странице коллекции
  z-index: 5;
  position: relative;

}