@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.product__card {
    &_wrapper {
        background-color: #faf6f0;
        border-radius: rem(30)
    }
     
    &_image {
        text-align: center;
    }
    &_viewCounts {
        padding: 0 0 rem(10) rem(25);
        font-weight: 700;
        font-size: rem(16);
        line-height: rem(24);
        color: #56392F; 
    }
    &_title {
        padding: rem(10) 0 rem(10) rem(25);
        font-weight: 700;
        font-size: rem(16);
        line-height: rem(24);
        color: #56392F; 
        text-decoration: none; 
        display: block;
    }

    &_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 rem(25) rem(10) rem(25);

        span {
            font-weight: 700;
            font-size: rem(16);
            line-height: rem(24);
            color: #56392F; 
        }
        a {
            border: 1px solid #cf3128;
            border-radius: rem(10);
            width: rem(106);
            height: rem(35);
            text-decoration: none;
            color: #cf3128;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .wiggles {
            animation: wiggle 2s linear infinite;
          }
          /* Keyframes */
        @keyframes wiggle {
        0%, 7% {
            transform: rotateZ(0);
        }
        15% {
            transform: rotateZ(-15deg);
        }
        20% {
            transform: rotateZ(10deg);
        }
        25% {
            transform: rotateZ(-10deg);
        }
        30% {
            transform: rotateZ(6deg);
        }
        35% {
            transform: rotateZ(-4deg);
        }
        40%, 100% {
            transform: rotateZ(0);
        }
        }
    }
}




