.product__card {
    &_wrapper {
        background-color: #faf6f0;
        border-radius: 30px
    }
     
    &_image {
        text-align: center;
    }
    &_viewCounts {
        padding: 0 0 10px 25px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #56392F; 
    }
    &_title {
        padding: 10px 0 10px 25px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #56392F; 
        text-decoration: none; 
        display: block;
    }

    &_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px 10px 25px;

        span {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #56392F; 
        }
        a {
            border: 1px solid #cf3128;
            border-radius: 10px;
            width: 106px;
            height: 35px;
            text-decoration: none;
            color: #cf3128;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .wiggles {
            animation: wiggle 2s linear infinite;
          }
          /* Keyframes */
        @keyframes wiggle {
        0%, 7% {
            transform: rotateZ(0);
        }
        15% {
            transform: rotateZ(-15deg);
        }
        20% {
            transform: rotateZ(10deg);
        }
        25% {
            transform: rotateZ(-10deg);
        }
        30% {
            transform: rotateZ(6deg);
        }
        35% {
            transform: rotateZ(-4deg);
        }
        40%, 100% {
            transform: rotateZ(0);
        }
        }
    }
}




