@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.slider {
    display: flex;
    &__leftArea {
        display: flex;
        flex-direction: column;
        width: rem(154);
        img {
            height: rem(200);
            cursor: pointer;
            border-radius: rem(30);
            border: 2px solid transparent;    
            margin-bottom: rem(8);
            &:hover {
                opacity: 0.5;
                transition: 0.3s;
            }
        }
    }
    &__rightArea {
        height: rem(600);
        // transition: all 0.1s ease 0s;
        transition: all .40s ease-in-out;
        background-size: cover;
        background-position: 50%;
        width: 100%;
        border-radius: rem(30);
        margin-left: rem(28);
        img {
            // transition: all 1s ease 0s;
            // width: rem(400);
            // height: rem(600);
            // border-radius: rem(30);
            // display: block;
            // position: absolute;
            // top: 0;
            // margin-left: rem(28);
        }
       
    }
}

.activeImg {
    display: none;
}

.active {
    border: 2px solid #EB3E37 !important;
    opacity: 0.5;
}







/////////////////////@at-root.slider {
// .slider {
//     display: flex;

//     &__leftArea {
//         img {
//             height: rem(200);
//             cursor: pointer;
//             border-radius: rem(30);
//             border: 2px solid transparent;    
//             margin-bottom: rem(8);
//             &:hover {
//                 opacity: 0.5;
//                 transition: 0.3s;
//             }
//         }
//     }
//     &__rightArea {
//         &_img {
//             width: rem(400);
//             height: rem(600);
//             border-radius: rem(30);
//             display: none;
//             position: absolute;
//             top: 0;
//             margin-left: rem(28);
//         }
       
//     }
// }

// .active {
//     border: 2px solid #EB3E37 !important;
//     opacity: 0.5;
// }

// .viev {
//     display: block;
// }
