.link {
    text-decoration: none;
    color: #56392F;
    // color: #2B2A29;
    font-weight: bold;
    text-transform: uppercase;
}
.activeLink {
    // background-color: #faf6f0;
    color: #cf3128;
    font-weight: bold;
    text-transform: uppercase;
}