@import '../styles/variables';
@import '../styles/functions';
@import '../styles/mixins';

.main {
  margin-bottom: rem(150);
  margin-top: rem(40);
  background-color: #faf6f0;
  position: relative;
  font-size: 'Circe-Regular';

  & > svg {
    position: absolute;
    z-index: -1;

    &:last-child {
      bottom: rem(-50);
    }
    &:first-child {
      top: rem(-60);
    }
  }

  &_title {
    margin-bottom: rem(40);

    span {
      &:first-child {
        font-family: 'freehand_regularb';
        display: block;
        margin-bottom: rem(10);
        color: #cf3128;
        text-align: center;
        text-transform: uppercase;
        font-size: rem(22);
      }
      &:last-child {
        font-family: 'Circe';
        font-weight: 700;
        display: block;
        font-size: rem(29);
        color: #56392f;
        text-transform: uppercase;
      }
    }
  }
}

.subtitle {
  font-family: 'freehand_regularb';
  font-size: rem(40);
  color: #cf3128;
  text-align: center;
}
