.container { // переписать стили
    // min-height: 100vh;
    max-width: 1220px;
    // display: grid;
    // grid-template-rows: auto 1fr auto;
    padding-right: 14px;
    padding-left: 14px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}