@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.category__navigation {
  a {
    position: relative;
    background: #faf6f0;
    border-radius: rem(10);
    width: rem(260);
    height: rem(50);
    display: flex;
    align-items: center;
    color: #56392f;
    font-weight: bold;
    margin-top: rem(15);
    cursor: pointer;
    padding: 0 rem(10);
    transition: 0.3s;
    &:hover {
      background-color: #56392f;
      color: white;
    }

    @include mq(md) {
      width: 100%;
    }
  }
}

.category__dropdownList {
  border-radius: rem(10);
  position: absolute;
  top: rem(56);
  display: grid;
  grid-template-columns: rem(231) rem(231) rem(231);
  background: #fff;
  color: #cf3128;
  width: rem(693);
  left: 0;
  box-shadow: 0 0 rem(15) rgba(0, 0, 0, 0.1);
  padding: rem(10);
  z-index: 10;
  a {
    display: flex;
    align-items: center;
    color: #56392f;
    border-radius: rem(10);
    justify-content: flex-start;

    span {
      padding: rem(7);
    }

    &:hover {
      color: white;
      border-radius: rem(10);
      background: #56392f;
      transition: 0.4s;
    }
  }
}
.active {
  background-color: #56392f !important;
  color: white !important;
}
