@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.footer {
    position: relative;
    margin-top: rem(100);
    flex: 0 0 auto;
    padding: rem(57) 0 rem(70) 0;

    svg {
        &:first-child {
            top: 0;
        }   
        &:last-child {
            bottom: 0;
        }
    }
    & > svg {
        position: absolute;
        z-index: -1;

        @include mq(md) {
            display: none;
        }
    }
}