@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.footer {
    position: relative;
    margin-top: rem(100);

    svg {
        &:first-child {
            top: rem(-57);
        }   
        &:last-child {
            bottom: rem(-70);
        }
    }
    & > svg {
        position: absolute;
        z-index: -1;

        @include mq(md) {
            display: none;
        }
    }
}