@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.map {
    border-radius: rem(10);
    margin: 0 auto;
    margin-bottom: rem(40);
    div {
        border-radius: rem(10);
    }
}
