@import '../../../../styles/variables';
@import '../../../../styles/functions';
@import '../../../../styles/mixins';

.product {
    position: relative;
    display: flex;
    justify-content: space-between;

    @include mq(md) {
        flex-wrap: wrap;
    }

    &__slider {
        width: 49%;

        @include mq(md) {
            width: 100%;
        }
    }

    &__information {
        width: 49%;
        // padding-left: rem(5);

        @include mq(md) {
            width: 100%;
        }

        &_title {
            font-size: rem(32);
            line-height: rem(28);
            color: #56392F;
            font-weight: 600;
            margin-bottom: rem(20); 
        }
        &_description {
            margin-bottom: rem(20);
            span {
                font-weight: bold;
                font-size: rem(14);
                color: #56392F;
            }
        }

        &_price {
            font-size: rem(40);
            line-height: rem(52);
            color: #56392F;
            font-weight: 700;
            margin-right: rem(20);
        }
        &_control {
            margin-top: rem(10);
            button {
                border-radius: rem(10);
                color: white;
                padding: rem(10);
            }
        }
    }
}

.title {
    color: green;    
    text-align: center;
}
