.inputContainer {
    display: flex;
    flex-direction: column;
    label {
        font-family: "Circe-Bold";
        font-size: 18px;
        line-height: 18px;
        color: #56392F;
        margin-bottom: 7px;
        &:after {
            font-size: 0.9em;
            margin-left: 0.2em;
            line-height: 0.7em;
            content: '*';
            color: red;
        }
    }
    input {
        border: 1px solid #56392F;
        border-radius: 10px;
        padding: 0 10px;
        height: 50px;
        font-size: 14px;
        color: #56392F;
    }
}