@import '../../../styles/variables';
@import '../../../styles/functions';
@import '../../../styles/mixins';

.ocation {
    padding-right: rem(20);

    @include mq(md) {
        padding-right: 0;
        width: 100%;
    }
}

.wrapper {
    display: flex;
    // min-height: 100vh;
    margin-bottom: rem(60);
    // костыль, что бы спрятать меню на странице коллекции
    z-index: 5;
    position: relative;

    @include mq(md) {
        flex-wrap: wrap;
    }
}

.title {
    color: aqua;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(40);
    width: 100%;
}