@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.title {
  font-family: 'Circe';
  font-weight: 700;
  font-size: rem(44);
  line-height: rem(52);
  text-align: center;
  margin-bottom: rem(30);
  color: #56392f;
}

.content {
  font-family: 'Circe';
  font-size: rem(20);
  color: #56392f;
  p {
    margin-bottom: 1em;
  }
  ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 2em;
  }
}
