@import '../../../styles/variables';
@import '../../../styles/functions';
@import '../../../styles/mixins';

.cartItem {
    margin: rem(30) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(sm) {
        flex-direction: column;
    }

    img {
         height: rem(100);
         width: rem(100);
         border-radius: rem(30);
 
         @include mq(sm) {
             width: rem(300);
             height: rem(300);
             margin-bottom: rem(15);
         }
    }

    &__name {
        font-size: rem(32);
        line-height: rem(28);
        color: #56392F;
        font-weight: 600;
        margin-bottom: rem(20);
    }
    &__countProduct {
        display: flex;
        align-items: center;
        // cursor: pointer !important;
        // outline: 0;
        // border: 0;

       
        // background: #fff;
        // border-radius: rem(10);
        transition: 0.4s;
        button {
            background-color: white;
            width: rem(34);
            height: rem(34);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: rem(10);
            transition: 0.4s;
            &:hover {
                background-color: #cf3128;
            }
        }
        span {
            margin: 0 rem(10);
            font-size: rem(28);
        }
    }
    &__price {
        font-size: rem(24);
        line-height: rem(52);
        color: #56392F;
        font-weight: 700;
        margin-right: rem(20);

        @include mq(sm) {
            margin-right: 0;
        }
    }
    &__del {
        cursor: pointer;
        order: 1;
    }
   
}