.delivery {
    color: #56392F;
    font-family: 'Circe';
    &_wrapper {
        display: flex;
        justify-content: space-between;
    }
    &_title {
        font-family: 'Circe';
        font-weight: 700;
        font-size: rem(44);
        line-height: rem(52);
        text-align: center;
        margin-bottom: rem(30);
    }
    &_description {
        font-size: rem(20);

        p {
            margin-bottom: rem(15);
            &:last-child {
                margin-bottom: rem(30);
            }
            & > span {
                font-family: 'Circe';
                font-weight: 700;
                font-size: rem(16);
            }
            &:before {
                content: '';
                display: inline-block;
                width: rem(14);
                height: rem(14);
                border-radius: rem(4);
                margin-right: rem(10);
                background-color: #32ce32;
                // background-color: #cf3128;
            }
        }
    }
    div { // заглушка
        &:last-child {
            margin-bottom: rem(50);
        }
    }
}


// .title {
//     color: blueviolet;    
//     text-align: center;
//     background-color: aquamarine;
// }
