@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.title {
  color: aqua;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: rem(40);
  width: 100%;

  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}
